.card-panel{
    background-color: #3333333f;
    padding: 2px
}

#entry1{
    margin: 2rem;
}

#entry2{
    margin: 2rem;
}

.heroName{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}