.section{
    text-align: center;
    padding: 2rem;
}

#row{
    background-color: #333333dc;
    margin-top: 4rem;
    border-radius: 1rem;
}

.row h4{
    font-weight: 800;
    font-family: MyFirstFont;
    font-size: 3rem;
    color: rgb(155, 155, 240);
}

.row p{
    text-align: left;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: medium;
}